* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color: rgb(255, 255, 255);

}
.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
#moderador {
    padding: 12px 24px;
    font-size: 18px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: .5s;
}

#moderador:hover {
    background-color: #3c903f;
}